:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  color: var(--primary-text-color);
  background-color: #e5e5e5;
  margin: 0;
}
/* header */
.logo {
  color: var(--primary-text-color);
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.color {
  color: var(--accent-color);
}
ul li {
  list-style: none;
}
.site-naw .link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.site-naw .link:hover,
.site-naw .link:focus {
  color: var(--accent-color);
}
.background {
  background-color: #ffffff;
}
.site-naw .link.current {
  color: var(--accent-color);
}
.contacts-color {
  color: var(--title-text-color);
  text-decoration: none;
}
.contacts-color:hover,
.contacts-color:focus {
  color: var(--accent-color);
}
/*main*/
h1 {
  color: #ffffff;
}
/*подвал*/
.bottom {
  background-color: #2f303a;
}
.white {
  color: #ffffff;
}
.new {
  color: var(--accent-color);
}
.address {
  color: rgba(255, 255, 255, 0.6);
}
