:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  color: var(--primary-text-color);
  background-color: #e5e5e5;
  margin: 0;
}
/* header */
.logo {
  color: #000000;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.color {
  color: var(--accent-color);
}
ul li {
  list-style: none;
}

/* site-naw */
.site-naw .link {
  color: var(--primary-text-color);
}
.site-naw .link:hover,
.site-naw .link:focus {
  color: var(--accent-color);
}
.background {
  background-color: #ffffff;
}
.site-naw .link.current {
  color: var(--accent-color);
}
.contacts-color {
  color: var(--title-text-color);
}
.contacts-color:hover,
.contacts-color:focus {
  color: var(--accent-color);
}

/*Секция героя*/
button {
  color: #ffffff;
  background-color: var(--accent-color);
}
h1 {
  color: #ffffff;
}
/*Секция преимущества*/
p {
  color: var(--title-text-color);
}

/*команда*/
.section {
  background-color: #f5f4fa;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* синий для виделений акцент #2196F3 */
/* белый цвет  #FFFFFF */
/* цвет с прозрачность для подвала rgba(255, 255, 255, 0.6);*/
/* черный цвет для лого #000000 */
