body {
  color: #212121;
  background: #e5e5e5;
  margin: 0;
}
/* header */
.logo {
  color: #000000;
}
.logo:hover {
  color: #2196f3;
}
.color {
  color: #2196f3;
}
ul li {
  list-style: none;
}
.contacts-list {
  color: #757575;
}
/* site-naw */
.site-naw .link {
  color: #212121;
}
.site-naw .link:hover,
.site-naw .link:focus {
  color: #2196f3;
}
.background {
  background: #ffffff;
}
.site-naw .link.current {
  color: #2196f3;
}

/*Секция героя*/
/*Секция преимущества*/

/* цвет основного текста #212121 */ /* вторичный цвет текста #757575 */
/* синий для виделений акцент #2196F3 */ /* белый цвет  #FFFFFF */
/* цвет с прозрачность для подвала rgba(255, 255, 255, 0.6); */
/* черный цвет для лого #000000 */
